In [4]:
import pandas as pd
import csv
import numpy as np
import pandas as pd

from lightfm.data import Dataset
from lightfm import LightFM
from lightfm import cross_validation
from lightfm.evaluation import precision_at_k
from lightfm.evaluation import auc_score
from lightfm.evaluation import recall_at_k

Process the downloaded data (.idata and .udata) from text file to usable CSV file. Export the CSV files to use

In [5]:
with open('Sushi_data/Original_datasets/sushi3.idata', 'r') as in_file:
    stripped = (line.strip() for line in in_file)
    lines = (line.split("\t") for line in stripped if line)
    with open('sushi_features.csv', 'w') as out_file:
        writer = csv.writer(out_file)
        writer.writerow(('item_ID', 'name','style','major_group','minor_group','oily','frequently_eat','normalized_price','most_frequently'))
        writer.writerows(lines)
sushi_df = pd.read_csv('sushi_features.csv')
sushi_df.head()

,item_ID,name,style,major_group,minor_group,oily,frequently_eat,normalized_price,most_frequently
0,0,ebi,1,0,6,2.728978,2.138422,1.838420,0.84
1,1,anago,1,0,3,0.926384,1.990228,1.992459,0.88
2,2,maguro,1,0,1,1.769559,2.348506,1.874725,0.88
3,3,ika,1,0,5,2.688401,2.043240,1.515152,0.92
4,4,uni,1,0,8,0.813043,1.643478,3.287282,0.88

In [6]:
with open('Sushi_data/Original_datasets/sushi3.udata', 'r') as in_file:
    stripped = (line.strip() for line in in_file)
    lines = (line.split("\t") for line in stripped if line)
    with open('customer_features.csv', 'w') as out_file:
        writer = csv.writer(out_file)
        writer.writerow(('user_ID', 'gender','age','total_time','prefecture_ID_past','region_ID','east_or_west','prefecture_ID_now','regional_ID_now','east_or_west_now','unchange_location'))
        writer.writerows(lines)
customer_df = pd.read_csv('customer_features.csv')
customer_df.head()

,user_ID,gender,age,total_time,prefecture_ID_past,region_ID,east_or_west,prefecture_ID_now,regional_ID_now,east_or_west_now,unchange_location
0,6371,0,2,355,0,0,0,0,0,0,0
1,10007,1,1,214,26,6,1,26,6,1,0
2,1777,1,2,363,29,6,1,26,6,1,1
3,3613,0,4,395,40,9,1,26,6,1,1
4,8081,1,1,707,26,6,1,36,8,1,1

Exploratory Data Analysis<br>
- Users appear to be equally represented - gender, age, region <br>
- Items are equally represented ranging from different styles, groups (fish, shrimp, clam, etc), oiliness, popularity<br>
- The user / item rating matrix is pretty sparse. There are 100 different items (different types of sushi) and 5000 users who rated the sushi. Many of the items were not given ratings. 
<br><br>
Here we calculate the sparsity of the user item matrix

In [7]:
ratings = pd.read_csv("Sushi_data/sushi_ratings_data.csv")
ratings = ratings.drop(columns=['user_id'])
columns = list(ratings.columns)
print("Number of Missing Ratings")
ratings[columns].eq(-1).sum()

Number of Missing Ratings

ebi (shrimp)                           3454
anago (sea eel)                        3465
maguro (tuna)                          3594
ika (squid)                            3543
uni (sea urchin)                       3620
                                       ...
karei (flounder)                       4905
hiramasa (something like amberjack)    4932
namako (sea cucumber)                  4921
shishamo (smelt)                       4925
kaki (oyster)                          4923
Length: 100, dtype: int64

Read in all of the csv files and set up all of the dataframes to be used. <br>
Make a copy of the sushi ratings without the user id column, to be used later by the model.<br> 
The lightfm model needs specific input, this will help prepare for it.

In [8]:
customer_features_df = pd.read_csv("Sushi_data/customer_features.csv")
sushi_features_df = pd.read_csv("Sushi_data/sushi_features.csv")
sushi_ratings_df = pd.read_csv("Sushi_data/sushi_ratings_data.csv")

sushi_ratings_no_user = sushi_ratings_df.drop(columns=['user_id'])

customer_features_df.head()
sushi_features_df.head()
sushi_ratings_df.head()
sushi_ratings_no_user.head()

,ebi (shrimp),anago (sea eel),maguro (tuna),ika (squid),uni (sea urchin),tako (octopus),ikura (salmon roe),tamago (egg),toro (fatty tuna),amaebi (AMA shrimp),...,hoya (ascidian),battera (OSHIZUSHI style mackerel),kyabia (caviar),karasumi (dried mullet roe),uni_kurage (sea urchin & jellyfish),karei (flounder),hiramasa (something like amberjack),namako (sea cucumber),shishamo (smelt),kaki (oyster)
0,-1,0,-1,4,2,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,-1,-1,-1,-1,-1,-1,0,-1,1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,-1,3,4,-1,-1,-1,3,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,4,-1,-1,3,4,1,-1,-1,4,3,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,-1,-1,-1,-1,1,-1,-1,-1,-1,4,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0

Set up lists of sushi Id's and user Id's for model use later. <br>
The lightfm model needs specific input, this will help prepare for it.

In [9]:
sushi_id = list(range(0,100))
user_id = list(range(0,5000))

print(sushi_id[:10])
print(user_id[:10])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Find all interactions where an interaction is defined as someone who positively rated a sushi (greater than 2)
Returns the interaction matrix where if a user rated a sushi > 2 then it will be have a 'True' in that cell, otherwise it will have 'False'
This will be used to get the interaction list next.

In [10]:
df= sushi_ratings_no_user >= 3
df.head()

,ebi (shrimp),anago (sea eel),maguro (tuna),ika (squid),uni (sea urchin),tako (octopus),ikura (salmon roe),tamago (egg),toro (fatty tuna),amaebi (AMA shrimp),...,hoya (ascidian),battera (OSHIZUSHI style mackerel),kyabia (caviar),karasumi (dried mullet roe),uni_kurage (sea urchin & jellyfish),karei (flounder),hiramasa (something like amberjack),namako (sea cucumber),shishamo (smelt),kaki (oyster)
0,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,True,False,False,True,True,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False

Create interaction_list.<br>
Interaction_list is a list of tuples that represent whether a user liked an item - find all the 'True' values from df
For example [(1,6),(1,8),(2,2)...] represents user 1 liked item 6 and 8, while user 2 liked item 2...
This interaction list is necessary for lightfm to make its recommendation model.<br>

Create and Calculare Weight_list<br>
Weight list will get the actual ratings of each True item in df, from the original sushi_ratings_df. These ratings will be used as the weights for the lightfm model<br>

Combine interaction_list with weight_list to make a new list called interaction_weight_list. This is a list of tuples which contain a positively rated sushi and its rating<br>
e.g [(1,4,3), (1,23,4),...] means user 1 gave sushi 4 a rating of 3 and user 1 gave sushi 23 a rating of 4 ...

In [11]:
interaction_list = [(df[col][df[col].eq(True)].index[i], df.columns.get_loc(col)) for col in df.columns for i in range(len(df[col][df[col].eq(True)].index))]
weight_list = []


# get the scores of each True item in matrix 
# the scores will be used as weights for the lightfm model
for x in interaction_list:
    weight = sushi_ratings_no_user.iloc[x] / 4
    weight_list.append((weight,))

interaction_weight_list = []
for (x, y) in zip(interaction_list, weight_list):
    interaction_weight_list.append(x + y)

interaction_weight_list

[(3, 0, 1.0),
 (5, 0, 1.0),
 (8, 0, 1.0),
 (15, 0, 0.75),
 (16, 0, 1.0),
 (19, 0, 0.75),
 (23, 0, 0.75),
 (26, 0, 1.0),
 (29, 0, 0.75),
 (38, 0, 0.75),
 (41, 0, 1.0),
 (44, 0, 1.0),
 (45, 0, 1.0),
 (47, 0, 1.0),
 (48, 0, 1.0),
 (51, 0, 1.0),
 (52, 0, 0.75),
 (58, 0, 1.0),
 (59, 0, 0.75),
 (60, 0, 0.75),
 (61, 0, 1.0),
 (63, 0, 1.0),
 (74, 0, 1.0),
 (78, 0, 1.0),
 (80, 0, 1.0),
 (81, 0, 0.75),
 (98, 0, 0.75),
 (105, 0, 1.0),
 (111, 0, 1.0),
 (114, 0, 1.0),
 (116, 0, 1.0),
 (118, 0, 1.0),
 (119, 0, 0.75),
 (120, 0, 0.75),
 (121, 0, 0.75),
 (130, 0, 1.0),
 (135, 0, 1.0),
 (142, 0, 1.0),
 (149, 0, 0.75),
 (154, 0, 0.75),
 (156, 0, 1.0),
 (162, 0, 0.75),
 (164, 0, 1.0),
 (165, 0, 1.0),
 (168, 0, 0.75),
 (170, 0, 1.0),
 (171, 0, 1.0),
 (175, 0, 0.75),
 (180, 0, 1.0),
 (188, 0, 1.0),
 (194, 0, 1.0),
 (201, 0, 1.0),
 (207, 0, 1.0),
 (214, 0, 1.0),
 (224, 0, 0.75),
 (227, 0, 0.75),
 (229, 0, 1.0),
 (230, 0, 0.75),
 (231, 0, 0.75),
 (236, 0, 1.0),
 (237, 0, 1.0),
 (238, 0, 1.0),
 (239, 0, 1.0),
 (242, 0, 1.0),
 (243, 0, 1.0),
 (244, 0, 0.75),
 (245, 0, 1.0),
 (247, 0, 0.75),
 (252, 0, 1.0),
 (254, 0, 1.0),
 (259, 0, 0.75),
 (262, 0, 0.75),
 (263, 0, 1.0),
 (267, 0, 0.75),
 (268, 0, 0.75),
 (272, 0, 1.0),
 (275, 0, 1.0),
 (277, 0, 1.0),
 (278, 0, 1.0),
 (279, 0, 1.0),
 (281, 0, 1.0),
 (284, 0, 0.75),
 (297, 0, 0.75),
 (298, 0, 1.0),
 (300, 0, 1.0),
 (302, 0, 1.0),
 (303, 0, 0.75),
 (306, 0, 1.0),
 (313, 0, 0.75),
 (321, 0, 0.75),
 (326, 0, 1.0),
 (329, 0, 1.0),
 (333, 0, 1.0),
 (335, 0, 0.75),
 (341, 0, 0.75),
 (344, 0, 1.0),
 (347, 0, 0.75),
 (348, 0, 0.75),
 (354, 0, 1.0),
 (355, 0, 1.0),
 (356, 0, 0.75),
 (361, 0, 0.75),
 (371, 0, 1.0),
 (378, 0, 1.0),
 (384, 0, 1.0),
 (385, 0, 1.0),
 (387, 0, 1.0),
 (408, 0, 1.0),
 (409, 0, 1.0),
 (414, 0, 1.0),
 (415, 0, 1.0),
 (427, 0, 1.0),
 (429, 0, 1.0),
 (435, 0, 0.75),
 (436, 0, 1.0),
 (438, 0, 1.0),
 (443, 0, 1.0),
 (446, 0, 1.0),
 (449, 0, 1.0),
 (456, 0, 1.0),
 (463, 0, 1.0),
 (465, 0, 1.0),
 (470, 0, 1.0),
 (472, 0, 1.0),
 (498, 0, 1.0),
 (502, 0, 0.75),
 (504, 0, 1.0),
 (505, 0, 1.0),
 (507, 0, 0.75),
 (514, 0, 0.75),
 (515, 0, 1.0),
 (521, 0, 1.0),
 (524, 0, 1.0),
 (533, 0, 1.0),
 (538, 0, 1.0),
 (543, 0, 1.0),
 (551, 0, 0.75),
 (555, 0, 0.75),
 (558, 0, 0.75),
 (559, 0, 0.75),
 (569, 0, 1.0),
 (570, 0, 0.75),
 (574, 0, 0.75),
 (581, 0, 0.75),
 (585, 0, 1.0),
 (588, 0, 0.75),
 (591, 0, 1.0),
 (596, 0, 1.0),
 (608, 0, 1.0),
 (610, 0, 1.0),
 (618, 0, 1.0),
 (620, 0, 0.75),
 (621, 0, 1.0),
 (623, 0, 1.0),
 (634, 0, 0.75),
 (641, 0, 1.0),
 (644, 0, 1.0),
 (645, 0, 0.75),
 (653, 0, 1.0),
 (661, 0, 1.0),
 (662, 0, 0.75),
 (664, 0, 1.0),
 (670, 0, 0.75),
 (673, 0, 1.0),
 (675, 0, 1.0),
 (689, 0, 1.0),
 (690, 0, 1.0),
 (692, 0, 1.0),
 (693, 0, 1.0),
 (696, 0, 0.75),
 (697, 0, 1.0),
 (702, 0, 0.75),
 (704, 0, 1.0),
 (711, 0, 0.75),
 (712, 0, 1.0),
 (713, 0, 1.0),
 (715, 0, 1.0),
 (717, 0, 0.75),
 (720, 0, 1.0),
 (721, 0, 0.75),
 (729, 0, 1.0),
 (738, 0, 1.0),
 (747, 0, 1.0),
 (749, 0, 1.0),
 (752, 0, 1.0),
 (766, 0, 1.0),
 (772, 0, 0.75),
 (773, 0, 1.0),
 (774, 0, 1.0),
 (776, 0, 1.0),
 (777, 0, 0.75),
 (779, 0, 0.75),
 (782, 0, 0.75),
 (783, 0, 1.0),
 (786, 0, 1.0),
 (787, 0, 1.0),
 (802, 0, 1.0),
 (804, 0, 0.75),
 (806, 0, 0.75),
 (813, 0, 1.0),
 (814, 0, 1.0),
 (823, 0, 0.75),
 (825, 0, 1.0),
 (830, 0, 1.0),
 (838, 0, 0.75),
 (839, 0, 1.0),
 (846, 0, 1.0),
 (848, 0, 1.0),
 (855, 0, 1.0),
 (859, 0, 1.0),
 (863, 0, 1.0),
 (866, 0, 0.75),
 (874, 0, 1.0),
 (878, 0, 1.0),
 (891, 0, 0.75),
 (898, 0, 1.0),
 (901, 0, 1.0),
 (906, 0, 1.0),
 (910, 0, 1.0),
 (911, 0, 1.0),
 (913, 0, 0.75),
 (915, 0, 0.75),
 (917, 0, 0.75),
 (918, 0, 1.0),
 (922, 0, 0.75),
 (927, 0, 0.75),
 (933, 0, 1.0),
 (935, 0, 1.0),
 (939, 0, 1.0),
 (942, 0, 1.0),
 (951, 0, 0.75),
 (963, 0, 1.0),
 (971, 0, 0.75),
 (979, 0, 0.75),
 (989, 0, 1.0),
 (991, 0, 1.0),
 (992, 0, 0.75),
 (994, 0, 1.0),
 (997, 0, 0.75),
 (998, 0, 1.0),
 (999, 0, 0.75),
 (1005, 0, 0.75),
 (1006, 0, 1.0),
 (1008, 0, 1.0),
 (1013, 0, 1.0),
 (1015, 0, 1.0),
 (1018, 0, 1.0),
 (1020, 0, 1.0),
 (1021, 0, 1.0),
 (1022, 0, 1.0),
 (1024, 0, 1.0),
 (1029, 0, 1.0),
 (1030, 0, 1.0),
 (1033, 0, 0.75),
 (1039, 0, 1.0),
 (1040, 0, 0.75),
 (1043, 0, 1.0),
 (1051, 0, 1.0),
 (1060, 0, 0.75),
 (1061, 0, 0.75),
 (1063, 0, 1.0),
 (1068, 0, 1.0),
 (1069, 0, 1.0),
 (1072, 0, 1.0),
 (1076, 0, 0.75),
 (1078, 0, 1.0),
 (1083, 0, 1.0),
 (1084, 0, 0.75),
 (1085, 0, 1.0),
 (1089, 0, 1.0),
 (1091, 0, 0.75),
 (1092, 0, 1.0),
 (1097, 0, 1.0),
 (1105, 0, 1.0),
 (1107, 0, 1.0),
 (1116, 0, 1.0),
 (1119, 0, 0.75),
 (1125, 0, 1.0),
 (1132, 0, 0.75),
 (1134, 0, 0.75),
 (1143, 0, 1.0),
 (1146, 0, 0.75),
 (1148, 0, 0.75),
 (1150, 0, 1.0),
 (1152, 0, 0.75),
 (1155, 0, 1.0),
 (1162, 0, 1.0),
 (1163, 0, 1.0),
 (1180, 0, 0.75),
 (1188, 0, 0.75),
 (1198, 0, 1.0),
 (1203, 0, 1.0),
 (1204, 0, 0.75),
 (1205, 0, 1.0),
 (1208, 0, 1.0),
 (1212, 0, 0.75),
 (1215, 0, 0.75),
 (1218, 0, 1.0),
 (1220, 0, 0.75),
 (1222, 0, 1.0),
 (1223, 0, 1.0),
 (1224, 0, 1.0),
 (1240, 0, 1.0),
 (1242, 0, 1.0),
 (1243, 0, 0.75),
 (1246, 0, 0.75),
 (1253, 0, 1.0),
 (1255, 0, 1.0),
 (1264, 0, 1.0),
 (1269, 0, 1.0),
 (1270, 0, 0.75),
 (1283, 0, 1.0),
 (1290, 0, 0.75),
 (1297, 0, 1.0),
 (1298, 0, 1.0),
 (1300, 0, 1.0),
 (1304, 0, 1.0),
 (1305, 0, 1.0),
 (1307, 0, 1.0),
 (1312, 0, 1.0),
 (1316, 0, 1.0),
 (1328, 0, 1.0),
 (1331, 0, 1.0),
 (1334, 0, 1.0),
 (1342, 0, 1.0),
 (1345, 0, 0.75),
 (1357, 0, 1.0),
 (1361, 0, 1.0),
 (1363, 0, 1.0),
 (1368, 0, 1.0),
 (1369, 0, 1.0),
 (1373, 0, 0.75),
 (1377, 0, 1.0),
 (1386, 0, 0.75),
 (1388, 0, 0.75),
 (1389, 0, 0.75),
 (1398, 0, 1.0),
 (1399, 0, 1.0),
 (1401, 0, 1.0),
 (1402, 0, 1.0),
 (1403, 0, 1.0),
 (1407, 0, 1.0),
 (1412, 0, 1.0),
 (1417, 0, 1.0),
 (1421, 0, 0.75),
 (1423, 0, 0.75),
 (1424, 0, 1.0),
 (1425, 0, 0.75),
 (1426, 0, 0.75),
 (1428, 0, 0.75),
 (1439, 0, 1.0),
 (1443, 0, 1.0),
 (1448, 0, 1.0),
 (1450, 0, 1.0),
 (1451, 0, 1.0),
 (1452, 0, 1.0),
 (1454, 0, 0.75),
 (1456, 0, 1.0),
 (1465, 0, 1.0),
 (1470, 0, 0.75),
 (1471, 0, 1.0),
 (1472, 0, 1.0),
 (1475, 0, 0.75),
 (1484, 0, 0.75),
 (1493, 0, 1.0),
 (1498, 0, 1.0),
 (1499, 0, 0.75),
 (1506, 0, 1.0),
 (1532, 0, 1.0),
 (1534, 0, 1.0),
 (1546, 0, 1.0),
 (1551, 0, 1.0),
 (1553, 0, 1.0),
 (1556, 0, 0.75),
 (1558, 0, 0.75),
 (1561, 0, 1.0),
 (1562, 0, 1.0),
 (1570, 0, 1.0),
 (1572, 0, 0.75),
 (1576, 0, 1.0),
 (1578, 0, 0.75),
 (1583, 0, 0.75),
 (1584, 0, 1.0),
 (1586, 0, 0.75),
 (1595, 0, 1.0),
 (1603, 0, 0.75),
 (1605, 0, 1.0),
 (1606, 0, 1.0),
 (1607, 0, 1.0),
 (1609, 0, 1.0),
 (1610, 0, 0.75),
 (1618, 0, 1.0),
 (1622, 0, 1.0),
 (1625, 0, 0.75),
 (1629, 0, 1.0),
 (1631, 0, 1.0),
 (1636, 0, 1.0),
 (1645, 0, 0.75),
 (1650, 0, 1.0),
 (1651, 0, 0.75),
 (1652, 0, 1.0),
 (1656, 0, 1.0),
 (1658, 0, 1.0),
 (1659, 0, 1.0),
 (1661, 0, 1.0),
 (1663, 0, 0.75),
 (1665, 0, 1.0),
 (1667, 0, 1.0),
 (1671, 0, 0.75),
 (1672, 0, 0.75),
 (1673, 0, 1.0),
 (1674, 0, 0.75),
 (1677, 0, 1.0),
 (1681, 0, 0.75),
 (1692, 0, 1.0),
 (1697, 0, 0.75),
 (1699, 0, 1.0),
 (1701, 0, 1.0),
 (1706, 0, 0.75),
 (1708, 0, 1.0),
 (1709, 0, 0.75),
 (1710, 0, 1.0),
 (1711, 0, 1.0),
 (1712, 0, 0.75),
 (1715, 0, 1.0),
 (1717, 0, 1.0),
 (1734, 0, 0.75),
 (1735, 0, 1.0),
 (1737, 0, 0.75),
 (1741, 0, 1.0),
 (1745, 0, 1.0),
 (1754, 0, 1.0),
 (1760, 0, 1.0),
 (1773, 0, 0.75),
 (1776, 0, 1.0),
 (1779, 0, 1.0),
 (1785, 0, 1.0),
 (1786, 0, 0.75),
 (1792, 0, 1.0),
 (1798, 0, 1.0),
 (1803, 0, 1.0),
 (1811, 0, 0.75),
 (1819, 0, 1.0),
 (1821, 0, 0.75),
 (1828, 0, 0.75),
 (1830, 0, 1.0),
 (1835, 0, 1.0),
 (1837, 0, 0.75),
 (1838, 0, 1.0),
 (1839, 0, 0.75),
 (1841, 0, 0.75),
 (1843, 0, 1.0),
 (1845, 0, 1.0),
 (1847, 0, 1.0),
 (1851, 0, 1.0),
 (1852, 0, 1.0),
 (1853, 0, 1.0),
 (1856, 0, 0.75),
 (1858, 0, 1.0),
 (1859, 0, 1.0),
 (1871, 0, 1.0),
 (1873, 0, 1.0),
 (1879, 0, 1.0),
 (1884, 0, 1.0),
 (1895, 0, 0.75),
 (1897, 0, 1.0),
 (1898, 0, 0.75),
 (1903, 0, 1.0),
 (1907, 0, 0.75),
 (1910, 0, 0.75),
 (1913, 0, 1.0),
 (1917, 0, 0.75),
 (1919, 0, 0.75),
 (1920, 0, 0.75),
 (1923, 0, 1.0),
 (1925, 0, 1.0),
 (1926, 0, 0.75),
 (1937, 0, 1.0),
 (1938, 0, 0.75),
 (1951, 0, 0.75),
 (1952, 0, 1.0),
 (1956, 0, 1.0),
 (1959, 0, 1.0),
 (1961, 0, 1.0),
 (1962, 0, 0.75),
 (1967, 0, 1.0),
 (1976, 0, 0.75),
 (1977, 0, 0.75),
 (1979, 0, 0.75),
 (1981, 0, 1.0),
 (1982, 0, 1.0),
 (1986, 0, 1.0),
 (1990, 0, 0.75),
 (1991, 0, 1.0),
 (1995, 0, 1.0),
 (1998, 0, 1.0),
 (2005, 0, 1.0),
 (2012, 0, 1.0),
 (2015, 0, 1.0),
 (2017, 0, 1.0),
 (2021, 0, 1.0),
 (2022, 0, 0.75),
 (2031, 0, 1.0),
 (2034, 0, 1.0),
 (2036, 0, 1.0),
 (2037, 0, 0.75),
 (2041, 0, 1.0),
 (2049, 0, 1.0),
 (2052, 0, 1.0),
 (2075, 0, 1.0),
 (2077, 0, 0.75),
 (2079, 0, 1.0),
 (2081, 0, 1.0),
 (2085, 0, 1.0),
 (2086, 0, 1.0),
 (2092, 0, 0.75),
 (2093, 0, 0.75),
 (2096, 0, 1.0),
 (2103, 0, 0.75),
 (2106, 0, 1.0),
 (2113, 0, 1.0),
 (2116, 0, 1.0),
 (2117, 0, 1.0),
 (2123, 0, 1.0),
 (2129, 0, 1.0),
 (2131, 0, 1.0),
 (2132, 0, 1.0),
 (2136, 0, 1.0),
 (2137, 0, 0.75),
 (2140, 0, 1.0),
 (2152, 0, 1.0),
 (2155, 0, 1.0),
 (2157, 0, 1.0),
 (2161, 0, 0.75),
 (2166, 0, 1.0),
 (2176, 0, 1.0),
 (2177, 0, 1.0),
 (2184, 0, 1.0),
 (2185, 0, 0.75),
 (2187, 0, 0.75),
 (2189, 0, 1.0),
 (2193, 0, 1.0),
 (2195, 0, 1.0),
 (2199, 0, 0.75),
 (2202, 0, 1.0),
 (2207, 0, 1.0),
 (2208, 0, 1.0),
 (2211, 0, 1.0),
 (2214, 0, 0.75),
 (2216, 0, 1.0),
 (2221, 0, 1.0),
 (2222, 0, 1.0),
 (2228, 0, 0.75),
 (2231, 0, 1.0),
 (2233, 0, 1.0),
 (2234, 0, 1.0),
 (2236, 0, 0.75),
 (2241, 0, 0.75),
 (2243, 0, 1.0),
 (2244, 0, 1.0),
 (2248, 0, 1.0),
 (2251, 0, 0.75),
 (2253, 0, 0.75),
 (2258, 0, 0.75),
 (2259, 0, 0.75),
 (2260, 0, 0.75),
 (2262, 0, 0.75),
 (2263, 0, 1.0),
 (2265, 0, 1.0),
 (2268, 0, 1.0),
 (2269, 0, 1.0),
 (2273, 0, 1.0),
 (2274, 0, 1.0),
 (2277, 0, 1.0),
 (2279, 0, 1.0),
 (2282, 0, 0.75),
 (2286, 0, 1.0),
 (2292, 0, 1.0),
 (2295, 0, 1.0),
 (2296, 0, 1.0),
 (2297, 0, 0.75),
 (2299, 0, 1.0),
 (2306, 0, 1.0),
 (2314, 0, 1.0),
 (2316, 0, 0.75),
 (2318, 0, 0.75),
 (2329, 0, 0.75),
 (2333, 0, 0.75),
 (2334, 0, 1.0),
 (2335, 0, 1.0),
 (2336, 0, 1.0),
 (2337, 0, 0.75),
 (2346, 0, 0.75),
 (2357, 0, 0.75),
 (2358, 0, 0.75),
 (2361, 0, 0.75),
 (2368, 0, 1.0),
 (2370, 0, 0.75),
 (2371, 0, 1.0),
 (2380, 0, 0.75),
 (2381, 0, 0.75),
 (2382, 0, 1.0),
 (2383, 0, 0.75),
 (2386, 0, 1.0),
 (2389, 0, 1.0),
 (2390, 0, 1.0),
 (2392, 0, 0.75),
 (2398, 0, 0.75),
 (2403, 0, 1.0),
 (2404, 0, 0.75),
 (2409, 0, 1.0),
 (2418, 0, 0.75),
 (2421, 0, 0.75),
 (2424, 0, 1.0),
 (2428, 0, 0.75),
 (2444, 0, 0.75),
 (2453, 0, 1.0),
 (2456, 0, 1.0),
 (2457, 0, 0.75),
 (2459, 0, 1.0),
 (2460, 0, 0.75),
 (2462, 0, 1.0),
 (2468, 0, 1.0),
 (2471, 0, 1.0),
 (2478, 0, 1.0),
 (2480, 0, 1.0),
 (2481, 0, 1.0),
 (2483, 0, 1.0),
 (2484, 0, 1.0),
 (2494, 0, 0.75),
 (2505, 0, 1.0),
 (2508, 0, 1.0),
 (2509, 0, 1.0),
 (2511, 0, 0.75),
 (2512, 0, 0.75),
 (2513, 0, 0.75),
 (2516, 0, 1.0),
 (2520, 0, 0.75),
 (2522, 0, 1.0),
 (2525, 0, 1.0),
 (2527, 0, 1.0),
 (2533, 0, 1.0),
 (2534, 0, 0.75),
 (2539, 0, 0.75),
 (2541, 0, 1.0),
 (2545, 0, 1.0),
 (2551, 0, 1.0),
 (2555, 0, 0.75),
 (2558, 0, 1.0),
 (2563, 0, 1.0),
 (2570, 0, 1.0),
 (2583, 0, 1.0),
 (2588, 0, 1.0),
 (2594, 0, 0.75),
 (2595, 0, 1.0),
 (2625, 0, 1.0),
 (2630, 0, 1.0),
 (2631, 0, 1.0),
 (2638, 0, 1.0),
 (2640, 0, 1.0),
 (2646, 0, 1.0),
 (2657, 0, 0.75),
 (2668, 0, 0.75),
 (2670, 0, 1.0),
 (2674, 0, 1.0),
 (2676, 0, 1.0),
 (2679, 0, 1.0),
 (2683, 0, 1.0),
 (2687, 0, 1.0),
 (2696, 0, 1.0),
 (2698, 0, 0.75),
 (2705, 0, 0.75),
 (2708, 0, 1.0),
 (2714, 0, 0.75),
 (2715, 0, 1.0),
 (2716, 0, 0.75),
 (2720, 0, 0.75),
 (2722, 0, 0.75),
 (2723, 0, 0.75),
 (2724, 0, 1.0),
 (2726, 0, 1.0),
 (2731, 0, 0.75),
 (2739, 0, 1.0),
 (2741, 0, 1.0),
 (2742, 0, 1.0),
 (2748, 0, 1.0),
 (2749, 0, 1.0),
 (2752, 0, 1.0),
 (2759, 0, 0.75),
 (2766, 0, 0.75),
 (2772, 0, 1.0),
 (2773, 0, 1.0),
 (2781, 0, 0.75),
 (2783, 0, 0.75),
 (2791, 0, 1.0),
 (2794, 0, 0.75),
 (2795, 0, 0.75),
 (2805, 0, 1.0),
 (2808, 0, 1.0),
 (2810, 0, 1.0),
 (2811, 0, 1.0),
 (2812, 0, 1.0),
 (2813, 0, 1.0),
 (2819, 0, 1.0),
 (2823, 0, 1.0),
 (2825, 0, 1.0),
 (2826, 0, 0.75),
 (2828, 0, 1.0),
 (2835, 0, 1.0),
 (2837, 0, 1.0),
 (2840, 0, 1.0),
 (2848, 0, 0.75),
 (2849, 0, 0.75),
 (2856, 0, 1.0),
 (2864, 0, 0.75),
 (2874, 0, 0.75),
 (2875, 0, 1.0),
 (2882, 0, 0.75),
 (2883, 0, 0.75),
 (2884, 0, 0.75),
 (2894, 0, 0.75),
 (2895, 0, 1.0),
 (2898, 0, 0.75),
 (2902, 0, 1.0),
 (2904, 0, 1.0),
 (2909, 0, 1.0),
 (2912, 0, 1.0),
 (2913, 0, 0.75),
 (2927, 0, 1.0),
 (2928, 0, 1.0),
 (2930, 0, 1.0),
 (2935, 0, 1.0),
 (2936, 0, 0.75),
 (2937, 0, 1.0),
 (2940, 0, 1.0),
 (2941, 0, 1.0),
 (2942, 0, 0.75),
 (2944, 0, 0.75),
 (2952, 0, 0.75),
 (2953, 0, 1.0),
 (2956, 0, 1.0),
 (2966, 0, 1.0),
 (2975, 0, 0.75),
 (2976, 0, 1.0),
 (2977, 0, 1.0),
 (2978, 0, 1.0),
 (2982, 0, 1.0),
 (2992, 0, 0.75),
 (2999, 0, 0.75),
 (3002, 0, 1.0),
 (3006, 0, 1.0),
 (3008, 0, 1.0),
 (3009, 0, 1.0),
 (3015, 0, 0.75),
 (3019, 0, 0.75),
 (3022, 0, 1.0),
 (3023, 0, 1.0),
 (3025, 0, 1.0),
 (3035, 0, 1.0),
 (3045, 0, 0.75),
 (3051, 0, 0.75),
 (3062, 0, 1.0),
 (3063, 0, 0.75),
 (3064, 0, 0.75),
 (3066, 0, 1.0),
 (3068, 0, 1.0),
 (3075, 0, 0.75),
 (3078, 0, 1.0),
 (3081, 0, 1.0),
 (3083, 0, 1.0),
 (3087, 0, 0.75),
 (3088, 0, 1.0),
 (3090, 0, 0.75),
 (3093, 0, 1.0),
 (3096, 0, 1.0),
 (3097, 0, 0.75),
 (3099, 0, 1.0),
 (3100, 0, 1.0),
 (3102, 0, 1.0),
 (3104, 0, 1.0),
 (3107, 0, 1.0),
 (3110, 0, 1.0),
 (3111, 0, 1.0),
 (3115, 0, 1.0),
 (3119, 0, 1.0),
 (3120, 0, 1.0),
 (3121, 0, 0.75),
 (3129, 0, 1.0),
 (3131, 0, 1.0),
 (3138, 0, 1.0),
 (3153, 0, 1.0),
 (3155, 0, 1.0),
 (3160, 0, 1.0),
 (3161, 0, 0.75),
 (3163, 0, 1.0),
 (3164, 0, 1.0),
 (3167, 0, 0.75),
 (3168, 0, 0.75),
 (3169, 0, 0.75),
 (3174, 0, 0.75),
 (3176, 0, 1.0),
 (3178, 0, 1.0),
 (3182, 0, 1.0),
 (3199, 0, 1.0),
 (3203, 0, 1.0),
 (3210, 0, 1.0),
 (3212, 0, 1.0),
 (3217, 0, 1.0),
 (3219, 0, 1.0),
 (3228, 0, 1.0),
 (3232, 0, 0.75),
 (3235, 0, 1.0),
 (3239, 0, 1.0),
 (3247, 0, 1.0),
 (3256, 0, 0.75),
 (3265, 0, 0.75),
 (3271, 0, 0.75),
 (3298, 0, 1.0),
 (3300, 0, 1.0),
 (3307, 0, 0.75),
 (3308, 0, 1.0),
 (3310, 0, 0.75),
 (3318, 0, 0.75),
 (3322, 0, 1.0),
 (3324, 0, 1.0),
 (3326, 0, 0.75),
 (3328, 0, 0.75),
 (3334, 0, 1.0),
 (3336, 0, 0.75),
 (3341, 0, 0.75),
 (3349, 0, 0.75),
 (3352, 0, 1.0),
 (3354, 0, 1.0),
 (3362, 0, 1.0),
 (3363, 0, 1.0),
 (3368, 0, 1.0),
 (3369, 0, 1.0),
 (3376, 0, 1.0),
 (3380, 0, 1.0),
 (3384, 0, 0.75),
 (3387, 0, 0.75),
 (3392, 0, 0.75),
 (3393, 0, 0.75),
 (3394, 0, 0.75),
 (3397, 0, 1.0),
 (3403, 0, 0.75),
 (3406, 0, 1.0),
 (3408, 0, 0.75),
 (3425, 0, 0.75),
 (3430, 0, 0.75),
 (3438, 0, 1.0),
 (3441, 0, 1.0),
 (3442, 0, 0.75),
 (3446, 0, 1.0),
 (3447, 0, 1.0),
 (3450, 0, 1.0),
 (3452, 0, 0.75),
 (3457, 0, 0.75),
 (3460, 0, 1.0),
 (3463, 0, 0.75),
 (3464, 0, 1.0),
 (3467, 0, 0.75),
 (3483, 0, 1.0),
 (3487, 0, 1.0),
 (3489, 0, 0.75),
 (3494, 0, 1.0),
 (3506, 0, 0.75),
 (3508, 0, 1.0),
 (3513, 0, 1.0),
 (3515, 0, 1.0),
 (3518, 0, 1.0),
 (3531, 0, 1.0),
 (3533, 0, 0.75),
 (3534, 0, 1.0),
 (3537, 0, 0.75),
 (3544, 0, 1.0),
 (3550, 0, 0.75),
 (3559, 0, 0.75),
 (3563, 0, 1.0),
 (3567, 0, 0.75),
 (3570, 0, 1.0),
 (3573, 0, 0.75),
 (3582, 0, 0.75),
 (3583, 0, 0.75),
 (3588, 0, 1.0),
 (3589, 0, 1.0),
 (3592, 0, 1.0),
 (3609, 0, 1.0),
 (3610, 0, 0.75),
 (3612, 0, 1.0),
 (3616, 0, 1.0),
 (3627, 0, 0.75),
 (3628, 0, 1.0),
 (3631, 0, 1.0),
 (3641, 0, 0.75),
 (3642, 0, 1.0),
 (3644, 0, 1.0),
 (3647, 0, 0.75),
 (3649, 0, 1.0),
 (3652, 0, 1.0),
 (3656, 0, 1.0),
 (3662, 0, 1.0),
 (3664, 0, 0.75),
 (3669, 0, 1.0),
 (3676, 0, 1.0),
 (3678, 0, 0.75),
 (3679, 0, 1.0),
 (3682, 0, 1.0),
 (3685, 0, 0.75),
 (3693, 0, 1.0),
 (3696, 0, 1.0),
 (3710, 0, 0.75),
 (3712, 0, 1.0),
 (3717, 0, 0.75),
 (3721, 0, 1.0),
 (3722, 0, 1.0),
 (3731, 0, 1.0),
 (3736, 0, 0.75),
 (3737, 0, 1.0),
 (3743, 0, 1.0),
 (3745, 0, 0.75),
 (3748, 0, 0.75),
 (3752, 0, 1.0),
 (3756, 0, 0.75),
 (3759, 0, 0.75),
 (3761, 0, 1.0),
 (3773, 0, 1.0),
 (3774, 0, 0.75),
 (3776, 0, 0.75),
 (3778, 0, 1.0),
 (3789, 0, 1.0),
 (3791, 0, 1.0),
 (3795, 0, 1.0),
 (3796, 0, 0.75),
 (3797, 0, 1.0),
 (3804, 0, 0.75),
 (3806, 0, 1.0),
 (3814, 0, 1.0),
 (3817, 0, 1.0),
 (3818, 0, 1.0),
 (3827, 0, 1.0),
 (3834, 0, 1.0),
 (3838, 0, 1.0),
 (3839, 0, 1.0),
 (3840, 0, 0.75),
 (3848, 0, 1.0),
 (3854, 0, 1.0),
 (3856, 0, 0.75),
 (3859, 0, 1.0),
 (3862, 0, 1.0),
 (3868, 0, 1.0),
 (3872, 0, 1.0),
 (3876, 0, 1.0),
 (3882, 0, 1.0),
 (3884, 0, 1.0),
 (3893, 0, 0.75),
 (3898, 0, 0.75),
 (3902, 0, 0.75),
 (3905, 0, 1.0),
 (3908, 0, 1.0),
 (3911, 0, 1.0),
 (3914, 0, 1.0),
 (3915, 0, 0.75),
 (3920, 0, 1.0),
 (3923, 0, 0.75),
 (3931, 0, 1.0),
 (3940, 0, 1.0),
 (3942, 0, 1.0),
 (3952, 0, 0.75),
 (3954, 0, 1.0),
 (3955, 0, 0.75),
 (3959, 0, 1.0),
 (3964, 0, 1.0),
 (3965, 0, 0.75),
 (3974, 0, 1.0),
 (3977, 0, 1.0),
 (3980, 0, 0.75),
 (3984, 0, 1.0),
 (3992, 0, 1.0),
 (3995, 0, 1.0),
 (3997, 0, 1.0),
 (4004, 0, 0.75),
 (4007, 0, 0.75),
 (4010, 0, 0.75),
 (4014, 0, 0.75),
 (4028, 0, 1.0),
 (4032, 0, 1.0),
 (4035, 0, 0.75),
 (4038, 0, 0.75),
 (4041, 0, 1.0),
 (4042, 0, 1.0),
 (4055, 0, 1.0),
 (4067, 0, 0.75),
 (4069, 0, 0.75),
 (4071, 0, 1.0),
 (4081, 0, 1.0),
 (4084, 0, 1.0),
 (4085, 0, 0.75),
 (4090, 0, 0.75),
 (4093, 0, 0.75),
 ...]

Creating a lightfm dataset using the user_id list (0-4999) and the sushi_id list (0-99)<br>
The lightfm dataset is a sparse matrix, which is a matrix representation to save space.<br>
This dataset will be used by lightfm model to make the recommendation system

In [12]:
#creating a lightfm dataset using the list of user_id (0-4999) and list of sushi_id(0-99)
dataset = Dataset()
dataset.fit(
    set(user_id), 
    set(sushi_id)
    )

interactions, weights = dataset.build_interactions(
    interaction_weight_list)

Split the dataset into train and test datasets

In [13]:
train_split, test_split = cross_validation.random_train_test_split(weights, test_percentage = 0.25, random_state = 2022 )
train_split
test_split

<5000x100 sparse matrix of type '<class 'numpy.float32'>'
	with 7527 stored elements in COOrdinate format>

Train a lightfm model and fit the test data

In [14]:
model = LightFM(
    no_components=150,
    learning_rate=0.05,
    loss='logistic',
    random_state=2023)

model.fit(
    train_split,
    epochs=10, verbose=True)

Epoch 0
Epoch 1
Epoch 2
Epoch 3
Epoch 4
Epoch 5
Epoch 6
Epoch 7
Epoch 8
Epoch 9

Test model, and get different model metrics:<br>
AUC score<br>
Precision @ k <br>
Hit rate/recall @ k<br>
k = 10

In [15]:
train_auc = auc_score(model, test_split).mean()
precision = precision_at_k(model,test_split, train_split, k=10).mean()
hit_rate = recall_at_k(model, test_split, train_split, k = 10).mean()
train_auc
precision
hit_rate

0.4058397479912785

Find the top 10 highest rates sushis<br>
Calculate a Popularity Baseline hit rate @ 10 to compare the recommendation model to<br>
Basline model just recommends the top 10 items with the highest average ratings

In [16]:
#preparing Popularity Baseline
test_set_likes = {key: [] for key in test_split.nonzero()[0]}
for test_row, test_col in zip(*test_split.nonzero()):
    test_set_likes[test_row].append(test_col)

temp = sushi_ratings_df.copy()
temp = temp.replace(-1,np.NaN)
temp = temp.describe().drop(columns='user_id')
mean_rate = temp.transpose().reset_index().rename(columns={'index':'sushi'})
mean_rate = mean_rate.sort_values(by=['mean'],ascending=False)
top_ten = mean_rate['sushi'][:10].reset_index()
top_ten = top_ten['index'].tolist()

print("top 10 sushis:")
print(top_ten)

#calculating baseline popularity (top 10 highest avg rated sushis)
Total_hit_ = 0
Total_test_case_ = 0
for user_x in test_set_likes.keys():
    hit = 0
    for a in test_set_likes[user_x]:
        Total_test_case_ += 1
        if a in top_ten:
            hit += 1
            Total_hit_ += 1

popular_hit_rate_ = Total_hit_/ Total_test_case_
print("Baseline hitrate @ 10 is {}".format(popular_hit_rate_))

top 10 sushis:
[19, 8, 37, 2, 47, 9, 61, 0, 79, 22]
Baseline hitrate @ 10 is 0.2344891723130065

Get a list of recommendations for a specific user in our dataset. <br>
Lightfm's predict returns a list of scores of the likelihood that an item should be recommended to a user.<br>
The higher the score, the higher the recommendation.<br>
Here, we will get the list of scores, and then order them from highest to lowest (top recommended to lowest recommended)<br>
We will then compare the recommendations to the test set to see if a recommendation was a correct

In [17]:
user_x = 100
n_users, n_items = interactions.shape

#returns a list of recommendation scores of all 100 items 
prediction_scores = list(model.predict(user_x, np.arange(n_items)))
#returns the index of the recommendation scores sorted from highest to lowest 
predictions = np.flip(list(np.argsort(prediction_scores)))

# create a dictionary where we match each item number to sushi name 
# so when we make a reccomendation instead of returning 5 we can give back item 5's sushi name
col_names = (list(df.columns))
sushi_names = dict(zip(sushi_id, col_names))

counter = 0
print("Recommendations for user {:d}:".format(user_x))
for x in range(10):
    value = predictions[counter]
    sushi = sushi_names[value]
    print("     " + sushi)

    counter+=1

#print User's likes from the test set 
print("Test set for user {:d}:".format(user_x))

#test_set_likes is a dictionary key is user value is list of likes frommthe test split
test_set_likes = {key: [] for key in test_split.nonzero()[0]}
for test_row, test_col in zip(*test_split.nonzero()):
    test_set_likes[test_row].append(test_col)

if user_x in test_set_likes.keys():
    for a in test_set_likes[user_x]:
        sushi = a
        print(sushi_names[sushi])
else:
    print("Test set was empty - not enough likes for user to split 20%")

Recommendations for user 100:
     ebi (shrimp)
     maguro (tuna)
     anago (sea eel)
     toro (fatty tuna)
     amaebi (AMA shrimp)
     ikura (salmon roe)
     ika (squid)
     hotategai (scallop)
     tako (octopus)
     tai (sea bream)
Test set for user 100:
awabi (abalone)
anago (sea eel)
tai (sea bream)

We want to test our model on differnt slices of data to make sure that it does not perform differently on differnt input.<br>
In the metaflow, we tested on many different slices.<br>
But here, I will show one example, where we test our model on males vs females, to see if it peforms equally the same on both

Start by finding all the users that are female and all the users that are male<br>
Create two ratings tables, one where you drop all females, and one where you drop all males

In [18]:
gender = list(customer_features_df.loc[:,'gender'])
        
males = []
females = []
iterator = 0
for i in range(len(gender)):
    if(gender[iterator] == 0):
        males.append(iterator)
    else:
        females.append(iterator)
    iterator+=1

sushi_ratings_no_user_males_only = sushi_ratings_no_user.drop(index= females)
sushi_ratings_no_user_females_only = sushi_ratings_no_user.drop(index= males)

Split the male and female data into training and test sets<br>
Fit the male test set and the female test set on two separate models<br>
Test the models and Calculate metrics

In [19]:
positive_rankings= sushi_ratings_no_user_males_only >= 3
interaction_list = [(positive_rankings[col][positive_rankings[col].eq(True)].index[i], positive_rankings.columns.get_loc(col)) for col in positive_rankings.columns for i in range(len(positive_rankings[col][positive_rankings[col].eq(True)].index))]
weight_list = []


# find get the scores of each True item in matrix 
# the scores will be used as weights for the lightfm model_male
for x in interaction_list:
    weight = sushi_ratings_no_user.iloc[x] / 4
    weight_list.append((weight,))

interaction_weight_list = []
for (x, y) in zip(interaction_list, weight_list):
    interaction_weight_list.append(x + y)

#creating a lightfm dataset using the list of user_id (0-4999) and list of sushi_id(0-99)
dataset = Dataset()
dataset.fit(
    set(user_id), 
    set(sushi_id)
    )

interactions, weights = dataset.build_interactions(
    interaction_weight_list)

train_split, test_split = cross_validation.random_train_test_split(weights, test_percentage = 0.25, random_state = 2022 )


# Train/fit model_male
model_male = LightFM(
    no_components=150,
    learning_rate=0.05,
    loss='warp-kos',
    random_state=2023)

model_male.fit(
    train_split,
    epochs=10, verbose=True)

test_set_likes = {key: [] for key in test_split.nonzero()[0]}
for test_row, test_col in zip(*test_split.nonzero()):
    test_set_likes[test_row].append(test_col)


temp = sushi_ratings_df.copy()
temp = temp.replace(-1,np.NaN)
temp = temp.describe().drop(columns='user_id')
mean_rate = temp.transpose().reset_index().rename(columns={'index':'sushi'})
mean_rate = mean_rate.sort_values(by=['mean'],ascending=False)
top_ten = mean_rate['sushi'][:10].reset_index()
top_ten = top_ten['index'].tolist()

train_auc = auc_score(model_male, test_split).mean()
precision = precision_at_k(model_male, test_split, train_split, k=10).mean()
hit_rate = recall_at_k(model_male, test_split, train_split, k = 10).mean()

print("Male Metrics:")
print(train_auc)
print(precision)
print(hit_rate)

Epoch 0
Epoch 1
Epoch 2
Epoch 3
Epoch 4
Epoch 5
Epoch 6
Epoch 7
Epoch 8
Epoch 9
Male Metrics:
0.6713763
0.055284124
0.2881104114508257

In [20]:
positive_rankings= sushi_ratings_no_user_females_only >= 3
interaction_list = [(positive_rankings[col][positive_rankings[col].eq(True)].index[i], positive_rankings.columns.get_loc(col)) for col in positive_rankings.columns for i in range(len(positive_rankings[col][positive_rankings[col].eq(True)].index))]
weight_list = []


# find get the scores of each True item in matrix 
# the scores will be used as weights for the lightfm model_female
for x in interaction_list:
    weight = sushi_ratings_no_user.iloc[x] / 4
    weight_list.append((weight,))

interaction_weight_list = []
for (x, y) in zip(interaction_list, weight_list):
    interaction_weight_list.append(x + y)

#creating a lightfm dataset using the list of user_id (0-4999) and list of sushi_id(0-99)
dataset = Dataset()
dataset.fit(
    set(user_id), 
    set(sushi_id)
    )

interactions, weights = dataset.build_interactions(
    interaction_weight_list)

train_split, test_split = cross_validation.random_train_test_split(weights, test_percentage = 0.25, random_state = 2022 )


# Train/fit model_female
model_female = LightFM(
    no_components=150,
    learning_rate=0.05,
    loss='warp-kos',
    random_state=2023)

model_female.fit(
    train_split,
    epochs=10, verbose=True)

test_set_likes = {key: [] for key in test_split.nonzero()[0]}
for test_row, test_col in zip(*test_split.nonzero()):
    test_set_likes[test_row].append(test_col)


temp = sushi_ratings_df.copy()
temp = temp.replace(-1,np.NaN)
temp = temp.describe().drop(columns='user_id')
mean_rate = temp.transpose().reset_index().rename(columns={'index':'sushi'})
mean_rate = mean_rate.sort_values(by=['mean'],ascending=False)
top_ten = mean_rate['sushi'][:10].reset_index()
top_ten = top_ten['index'].tolist()

train_auc = auc_score(model_female, test_split).mean()
precision = precision_at_k(model_female, test_split, train_split, k=10).mean()
hit_rate = recall_at_k(model_female, test_split, train_split, k = 10).mean()

print("Female Metrics:")
print(train_auc)
print(precision)
print(hit_rate)

Epoch 0
Epoch 1
Epoch 2
Epoch 3
Epoch 4
Epoch 5
Epoch 6
Epoch 7
Epoch 8
Epoch 9
Female Metrics:
0.678687
0.051103484
0.2795161026647049

As you can see our model performs equally on male and female users